@font-face {
    font-family: ArgentCF;
    src: url("../assets/fonts/argentcf-regular.otf") format("opentype");
}

@font-face {
    font-family: ArgentCF;
    font-style: italic;
    src: url("../assets/fonts/argentcf-regularitalic.otf") format("opentype");
}

@font-face {
    font-family: ArgentCF;
    font-weight: bold;
    src: url("../assets/fonts/argentcf-bold.otf") format("opentype");
}

@font-face {
    font-family: ArgentCF;
    font-weight: bold;
    font-style: italic;
    src: url("../assets/fonts/argentcf-bolditalic.otf") format("opentype");
}

@font-face {
    font-family: ArgentCF-thin;
    src: url("../assets/fonts/argentcf-thin.otf") format("opentype");
}

@font-face {
    font-family: ArgentCF-light;
    src: url("../assets/fonts/argentcf-light.otf") format("opentype");
}

@font-face {
    font-family: ArgentCF-super;
    src: url("../assets/fonts/argentcf-super.otf") format("opentype");
}

p {
    font-size: 1.75em;
    font-family: ArgentCF;
}

.large {
    font-family: ArgentCF;
    font-size: 1.3em;
    line-height: 1.3em;
}

.regular {
    font-family: ArgentCF;
}

.bold {
    font-weight: bold;
}

.sans-serif {
    font-family: $sans-serif;
}

.smaller {
    font-size: 0.8em;
}

.source {
    font-size: 0.45em;
    color: lighten($color-light-blue, 15%);
    // float: right;
    font-family: $sans-serif;
}