input {
    font-size: 1em;
    font-family: inherit;
    color: $color-light-blue;
    text-align: center;
    width: 2.75em;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    padding-bottom: 0.1em;
    margin: 0.2em auto;

    &[type="number"]::-webkit-inner-spin-button,
    &[type="number"]::-webkit-outer-spin-button {
        opacity: 0;
        @include appearance(none);
    }

    &[type="number"] {
        -moz-appearance: textfield;
    }
}

button {
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    padding: 0.05em 0.6em 0.1em 0.6em;
    margin: 0.2em auto;
    border: 2px solid $color-light-blue;
    border-radius: 0.4em;
    color: $color-light-blue;
    cursor: pointer;

    transition: background-color 0.5s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }

    &:active,
    &:focus {
        background-color: rgba(255, 255, 255, 0.15);
    }

    section.blue &,
    section.red & {
        border-color: white;
        color: white;
    }

    &.blue {
        background-color: $color-light-blue;
        border: 0px;
        &.transparent {
            color: $color-light-blue;
            border: 1px solid $color-light-blue;
            background-color: transparent;
        }
    }

    &.icon-left {
        .icon {
            float: left;
            width: 1rem;
        }
    }
}
