.icon {
    display: inline-block;
    width: 100px;
    height: 100px;

    background-position: center center;
    background-repeat: no-repeat;
    //border: 1px solid black;
    box-sizing: content-box;

    &.four {
        background-image: url(../assets/icons/Books_Four.svg);
        background-size: 140%;
        width: 100px;
        height: 71px;
    }
    &.full-bottom {
        background-image: url(../assets/icons/Books_Full_Bottom.svg);

        width: 263px;
        height: 75px;
        margin: auto;
        margin-top: -46px;
    }
    &.full-top {
        background-image: url(../assets/icons/Books_Full_Top.svg);

        $width: 240px;
        width: $width;
        height: $width / 3;
        max-height: 100%;
        margin-bottom: -6px;

        @media screen and (max-width: $mobile-break) {
            $width: 165px;
            width: $width;
            height: $width / 3;
        }
    }
    &.single {
        background-image: url(../assets/icons/Books_Single_Red.svg);
        background-size: 500%;
        background-position: -67px 1px;

        $width: 35px;
        width: $width;
        height: $width * 18 / 7;
    }
    &.three {
        background-image: url(../assets/icons/Books_Three.svg);
        background-size: 200%;

        $width: 75px;
        width: $width;
        height: $width;
    }
    &.calendar {
        background-image: url(../assets/icons/Calendar_Icon.svg);
        background-size: 220%;

        $width: 55px;
        width: $width;
        height: $width * 49 / 45;
    }
    &.hamburger {
        background-image: url(../assets/icons/hamburger.svg);
        background-size: 100%;

        $width: 36px;
        width: $width;
        height: $width * 4 / 5;
    }
}