.right {
    position: relative;

    p {
        margin: 0;
        margin-bottom: 0.75em;
    }

    .shadow {
        background-color: white;
        box-shadow: 0px 0px 2em -0.75em rgba(#000000, 0.75);
    }

    > .content {
        margin-top: 1em;
        margin-bottom: 3em;

        display: block;

        section {
            padding: #{$column-width};
            font-size: 2.2em;

            padding-top: 0.8em;
            padding-bottom: 1em;
            
            color: $color-light-blue;

            &.blue {
                background-color: $color-light-blue;
                color: $color-light;
            }

            &.red {
                background-color: $color-red;
                color: $color-light;
                input {
                    color: $color-red;
                    border: 0px;
                    margin: 0.2em 0.6em;
                }
                button {
                    margin: auto 0.4em;
                }
            }

            form {
                margin: 0;
            }

        }

        section:first-of-type {
            padding-top: 1.5em;
        }

        label {
            display: block;
        }

        .split {
            @include display-flex();
            justify-content: flex-start;
            flex-direction: row;
            overflow: hidden;

            @media screen and (max-width: $mobile-break) {
                display: block;
            }

            section:first-child {
                z-index: 1;
                @media screen and (max-width: $mobile-break) {
                    padding-bottom: 0;
                }
            }

            section {
                margin: 0;
                @include flex(1);
                width: 100%;
                padding-top: 2em;
                padding-bottom: 2em;
                // height: 100%;   
                float: left;
                position: relative;

                @include display-flex();
                justify-content: center;
                flex-direction: column;

                @media screen and (max-width: $mobile-break) {
                    padding: 1em;
                    // height: auto;
                    text-align: center;
                }

                .triangle {
                    $angle: 25deg;
                    position: absolute;
                    z-index: 0;
                    top: 0;
                    bottom: 0;
                    left: -33%;
                    right: calc(100% + -1px);
                    
                    .top, .bottom {
                        background: $color-light-blue;
                        display: block;
                        width: 100%;
                        height: calc(50% + 0.5px);
                        margin-top: -0.5px;
                    }
    
                    .top {
                        @include transform(skewX($angle));
                        @include transform-origin(top);
                    }
                    .bottom {
                        @include transform(skewX(-1 * $angle));
                        @include transform-origin(bottom);
                        // height: 50%;
                    }

                    @media screen and (max-width: $mobile-break) {
                        $angle: 10deg;
                        top: -66%;
                        bottom: 100%;
                        left: 0;
                        right: 0;

                        .top, .bottom {
                            // display: inline-block;
                            position: absolute;
                            background: $color-light-blue;
                            width: calc(50% + 0.5px);
                            height: 100%;
                            margin-top: 0;
                        }
        
                        .top {
                            @include transform(skewY(-1 * $angle));
                            @include transform-origin(right);
                            margin-left: calc(50% - 0.5px);
                        }
                        .bottom {
                            @include transform(skewY($angle));
                            @include transform-origin(left);
                        }
                    }
                }

                @media screen and (min-width: $mobile-break) {
                    .triangle + * {
                        padding-left: 2em;
                    }
                }
                @media screen and (max-width: $mobile-break) {
                    .triangle + * {
                        padding-top: 2.5em;
                    }
                }
            }

        }
    }

    @media screen and (max-width: $mobile-break) {
        .shadow {
            box-shadow: none;
        }

        .content {
            p {
                padding-left: 1rem;
                padding-top: 1rem;
            }
        }
    }
}
