@import "settings.scss";

html, body {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: $color-gray;
    font-family: ArgentCF-thin;
    color: $color-light-blue;
}

body, body * {
    box-sizing: border-box;
}


@import "partials/mixins";
@import "partials/icons";
@import "partials/fonts";
@import "partials/layout";
@import "partials/forms";
