$color-light:      #FFFFFF;
$color-light-blue: #3e51b5;
$color-dark-blue:  #1f307e;
$color-gray:       #ededed;
$color-red:        #e54e4e;

$column-width: 100% / 12;
$left-width: $column-width * 2;

$mobile-break: 1200px;